@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'normalize';

/* Defaults */
* {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  color: black;
  background-color: #ebebeb;
  overflow: hidden;
  font-size: 14px; /* 1em ou 1rem === 14px */
  font-family: 'Montserrat', sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Defaults */
